.insertUser, .insertBoat{
   position: relative;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 2%;
}

.input, .admin, .name{
   text-align: center;
}

.submit-button{
   text-align: right;
}

@media screen and (max-width: 800px) {
   .insertUser{
      width: 80%;
   }
}